.skeleton {
    background-color: #ededed;
    border-radius: 4px;
    height: 20px;
    margin-bottom: 10px;
    animation-name: skeleton-loading;
    animation-iteration-count: 1;
    animation-duration: 1s;
  }


@keyframes skeleton-loading {
    0% {
      opacity: 0.8;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 0.8;
    }
}

.title {
    font-size: 1.3rem;
    border: 1px solid gray;
}
.paragraph {
    border: 1px solid gainsboro;
}